html {
  background-color: #cacaca;
}
/* slider__wrap */
.slider__wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
.slider__img { /*이미지가 보이는 영역*/
  position: absolute;
  top: 30%;
  width: 500px;
  height: 350px;
  overflow: hidden;
}
.slider__inner { /*전체 이미지를 감싸고 있는 부모 : 움직이는 영역*/
  display: flex;
  flex-wrap: wrap;
  width: 4000px;
  height: 450px;
}
.slider { /*개별적인 이미지*/
  position: relative;
  width: 800px;
  height: 450px;
}
.slider__btn {
  position: relative;
  background-color: antiquewhite;
  width: 100vw;
  height: 20vh;
}
.slider__btn a {
  position: absolute;
  top: 50%;
  transform:  translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  background-color: #16189c;
  

} 
.slider__btn a:hover {
  border-radius: 50%;
  background-color: #16189c;
  color: #fff;
}
.slider__btn a.prev {
  left: 0;
}
.slider__btn a.next {
  right: 0;
}
